body {
  --pal-bg: #2b2d42;
  --pal-mg: #8d99ae;
  --pal-fg: #d5e0e4;

  --content-max-width: 650px;
  --content-margin: 7.5%;

  background: var(--pal-bg);
  color: var(--pal-fg);

  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 450;
  opacity: 0.9;
  text-rendering: optimizeLegibility;
}

a {
  color: unset;
  text-underline-offset: 2px;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: var(pal-fg);
  text-decoration: underline;
}

.app-header {
  display: flex;
  justify-content: space-between;
  margin: var(--content-margin);
}

.app-header-rhs {
  display: flex;
  align-items: center;
  color: var(--pal-mg);
}

.app-header-rhs > a {
  margin: 0 0.75em;
}

.app-content {
  max-width: var(--content-max-width);
  margin-left: auto;
  margin-right: auto;
}

.app-content-wrap {
  width: 100%;
  padding: 0 var(--content-margin);
}
